<div class="mdl-grid">
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <p>Emails Cadastrados</p>
    </div>
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="mdl-data-table__cell--non-numeric">Email</th>
                    <!-- <th class="mdl-data-table__cell--non-numeric">Redireciona para</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of emailList">
                    <td>{{e.id}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{e.email}}</td>
                    <!-- <td class="mdl-data-table__cell--non-numeric">{{forwardToString(e.forwardTo)}}</td> -->
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <span>21-25 de 25</span>
                        <button class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
